<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button, Input & Checkbox Components</title>
    <link rel="stylesheet" href="/assets/styles/base.css">
</head>
<!-- just copy and paste the checkbox component you want to use in your main file -->

<body>

    <div class="checkbox-container">
        <input type="checkbox" id="custom-checkbox" class="custom-checkbox">
        <label for="custom-checkbox" class="checkbox-label">I agree to the terms and conditions</label>
    </div>
</body>
</html>