<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/base.css" />
  <script src="/assets/scripts/EmpowerAbilityLab.js" defer></script>

    <title>Switch</title>
    <!-- just copy and paste the input component you want to use in your main file -->
</head>
<body>
    <img id="switchToggle" class="switchToggle" alt="" src="/assets/images/toggle_switch_off.jpg" onclick="toggleChange()" />
</body>
</html>
