#logo {
    width:100%;
    max-width:400px;
    margin: 0 auto;
}

body {
    min-height: 100vh;
    margin: 0;
}

header {
    min-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    min-height: 50px;
}

main {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}