  .home-header {
    display: grid;
    gap: 2rem;
    width: 60vw;
  }
  
  .home-header button {
    width: fit-content;
  }

  .card-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .info-card {
    flex: 1 1 30%;
    background-color: #fff;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 4px var(--lightPrimary);
  }

  .info-card h2 {
    font-weight: bold;
    text-align: center;
    background-color: var(--lightGrey);
    padding: 10px;
    margin: -16px -16px 16px;
  }

  .info-card ul {
    margin-top: 0;
    padding-left: 20px;
  }

  .learn-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .card-grid {
      flex-direction: column;
    }

    .info-card {
      width: 100%;
    }
    .home-header {
        display: grid;
        gap: 1rem;
        width: 100%;
      }
  }