/* services.css */

/* Define color variables */
:root {
    --primary: #d87d4a;
    --dark: #101010;
    --grey: #f1f1f1;
    --lightGrey: #fafafa;
    --lightPrimary: #fbaf85;
    --error: #cd2c2c;
  }
  
  
  /* Services Section */
  #services {
    background-color: white;
    border-radius: 4px;
    padding: 2rem;
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
  }
  
  #services h1 {
    font-size: 2rem;
    color: var(--primary);
    margin:0;
  }

  #services h2 {
    font-size: 1.5rem;
    color: var(--dark);
    margin:0;
  }
  .serviceHeading {
    display: grid;
    justify-content: center;
    margin: auto;
  }

  .dedicatedspace{
    display:grid;
    gap:2rem;
    align-items: center;
  }
  
  #services h3 {
    font-size: 1.3rem;
    margin:0;
  }

  
  #services p {
    font-size:1.25rem;
  }
  
  /* Responsive adjustments for medium screen */

@media screen and (min-width: 500px) {
    #services h1 {
      font-size: 2.5rem;
    }
  
    #services h2 {
      font-size: 1.5rem;
    }
    .serviceHeading {
      width: 70vw;
    }
    
    .dedicatedspace{
      display:flex;
      justify-content: space-between;
    }
}
  /* Responsive adjustments for large screen */

@media screen and (min-width: 900px) {
  .serviceHeading {
    width: 60vw;
  }
}